/* Register.css */
.button {
    position: relative;
    display: inline-block;
    margin: 10px;
  }

  /* Additional styles for the register page */
  .register-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 10px;
    text-align: center;
  }
  
  .register-container h2 {
    color: #000000;
    margin-bottom: 20px;
  }
  
  .register-container input[type="text"],
  .register-container input[type="password"],
  .register-container input[type="email"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  